body{
    margin: 0;
    padding: 0;
}

.chat-container {
    width: 500px;
    height: 50vh;
    border: 2px solid gray;
    margin: auto;
    margin-top: 25vh;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chat-window {
    height: 80%;
    padding: 8px;
}

.chat-input {
    padding: 8px;
    border: 2px solid lightblue;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

#chatInput {
    border: none;
}

#send-btn {
    background: rgb(15, 107, 135);
    color: white;
    border-radius: 16px;
    padding: 12px;
}